<html>
<head>
	<title>Live Call Feed </title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript" src="js/telecmi-call-feed.min.js"></script>
	<script type="text/javascript">
		angular.module('telecmi',[]).controller('mainController',function($scope,$http){
			telecmi = new TeleCMI();

			telecmi.start('eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYWRtaW4iLCJpbmV0X25vIjoyMjI0MDE1LCJpYXQiOjE2NTQ5MzEzMTIsImV4cCI6MTY1NzUyMzMxMn0_xxxxxxx')
		

		telecmi.onDisconnect = function(data){
			console.log(data)
		}

		
 telecmi.onStatus=function(data){
	 console.log(data)
 }

		telecmi.onAgents=function(data){
console.log(data)
		}
		telecmi.onCalls =function(data)
		{
			console.log(data)
		}

		telecmi.onConnect= function(data)
		{
			console.log(data)
			if(data.status=='connected')
			{
				telecmi.subscribeAgents();
			}
		}


		})
		
	</script>
</head>
<body ng-app="telecmi" ng-controller="mainController">
	
</body>
</html>